{:aliases {:portal {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
                    :extra-deps {io.github.jelmerderonde/dot-clojure {:git/tag ""
                                                                      :git/sha ""}
                                 djblue/portal {:mvn/version "RELEASE"}}
                    :main-opts ["-e" "((requiring-resolve 'nl.jelmerderonde.dev.repl/start-repl))"]}}}